<div class="cookies-container">
    <div class="cookies-info-center">
        <div class="cookies-info">
            <h1>Cookies</h1>
            <h2>Co to jsou cookies?</h2>
            <p>Cookies jsou malé textové soubory, které jsou ukládány na vašem zařízení při používání webových stránek. Tyto soubory obsahují informace o vašem používání webových stránek a mohou sloužit k různým účelům, například k zapamatování vašich preferencí nebo k analýze návštěvnosti webu.</p>
            <h3>Druhy cookies</h3>
            <p>Existují různé druhy cookies, například:</p>
            <ul>
                <li><strong>Nezbytné cookies:</strong> tyto cookies jsou nezbytné pro správné fungování webových stránek.</li>
                <li><strong>Funkční cookies:</strong> tyto cookies umožňují webovým stránkám zapamatovat si vaše volby a poskytovat vám tak přizpůsobený obsah.</li>
                <li><strong>Analytické cookies:</strong> tyto cookies slouží k měření návštěvnosti webových stránek a k analýze používání webu.</li>
                <li><strong>Reklamní cookies:</strong> tyto cookies slouží k zobrazování cílené reklamy na základě vašeho chování na webu.</li>
            </ul>
            <h2>Jaké cookies používáme?</h2>

            <p>Na tomto webu používáme nezbytné a funkční cookies. Některé z nich z důvodu komunikace se serverem nemůžeme odstranit, ale máte možnost odstranit cookies s názvem "device", která patří do funkčních cookies.</p>

            <h4>Co je to cookies "device" a k čemu slouží?</h4>

            <p>"Device" je automaticky vygenerované náhodné číslo, které je přiřazeno vašemu prohlížeči a je důležité pro správné fungování těchto webových stránek. Díky této cookies můžete přidávat položky do košíku, odebírat položky z košíku či vytvořit objednávku a při náhodném zavření stránky či prohlížeče vám zůstanou vaše vybrané položky v košíku uložené. Platnost této cookies je 14 dní a poté končí a je vymazána. "Device" až do vytvoření objednávky není vázané na vaši osobu nebo vaše osobní údaje. Tato cookies nesleduje žádnou vaši aktivitu a neposílá žádné údaje třetím stranám.</p>

            <p>Musíme vás však upozornit na fakt, že na těchto stránkách se vyskytují odkazy na náš Facebookový a Instagramový profil a tam mají své vlastní zásady pro cookies.</p>

            <div class="cookies-info-choice__flex">
                <button id="reject-cookies" class="reject-cookies" onclick="reCookies()">Nesouhlasím</button>
                <button id="accept-cookies" class="accept-cookies" onclick="accCookies()">Souhlasím</button>     
            </div>

            <div class="close-include-page__flex">
                <button id="close-cookies-page" class="close-cookies-page close-page-button">Zavřít</button>
            </div>
        </div>
    </div>
</div>
