<div id="cookies-banner">
    <div class="cookies-banner-info">
        <h3>Cookies</h3>
        <p>Vážení zákazníci, tento web používá cookies. Kliknutím na tlačítko „Souhlasím“ souhlasíte s používáním cookies.</p>
        <p>Více informací jaké používáme cookies najdete <a class="cookies-link" href="/cookies.html">zde</a>.</p>
        <div class="cookies-banner-choice__flex">
            <button class="reject-cookies">Nesouhlasím</button>
            <button class="accept-cookies">Souhlasím</button>
        </div>
    </div>
</div>
