{% extends "obsluha.html" %}
{% load static %}
{% block content %}
{% load tz %}
    <div class="logout">
        <img class="logo" src="{% static 'images/antalya-logo.png' %}" alt="Klášterec Antalya Kebab">
        <a href = "{% url 'logout' %}"> Odhlásit se </a>
    </div>

    <nav class="navigate-orders">
        <li><a href="/obsluha/#new-orders">Nové objednávky</a></li>
        <li><a href="/obsluha/#orders-in-process">Objednávky v přípravě</a></li>
        <li><a href="/obsluha/#today-orders-completed">Dnes vyřízené obj.</a></li>
        <li><a href = "{% url 'historie-objednavek' %}">Historie objednávek</a></li>
    </nav>
    

    <section class="new-orders">
        <div id="new-orders"  class="href_to_up"></div>
        <h1>Nové objednávky:</h1>
        {% for new_order in new_orders %}
            <div class="new-orders-extract">
                <p>Nová objednávka č.: <span>{{ new_order.order_number }}</span></p>
                <a class="new-order-link open-page" href="{% url 'nova-objednavka-detail' pk=new_order.id order_number=new_order.order_number %}">Zobrazit</a>
            </div>
        {% endfor %} 
        {% include 'service/nova-objednavka-detail.html' with selected_new_order=selected_new_order selected_order_creation_time=selected_order_creation_time %}
    </section>
    
    <section  class="orders-in-process">
        <div id="orders-in-process" class="href_to_up"></div>
        <h1>Objednávky v přípravě:</h1>
        {% for order_in_process in orders_in_process %} 
            <div class="order-in-process-container">
                <h1 class="order-number">Objednávka číslo: {{ order_in_process.order_number }}</h1>
                <p class="order-creation-time">Čas vytvoření: {{ order_in_process.date_ordered|timezone:"Europe/Prague"|date:'d. m. Y H:i' }}</p>

                <div class="order-customer-info__grid">
                    <div class="order-customer-info__customer">
                        <h2>Zákazník:</h2>
                        {% for customer in order_in_process.customers.all %}
                            <p>{{ customer.name }} {{ customer.last_name }}</p>
                            <p>Email: {{ customer.email }}</p>
                            <p>Tel.: {{ customer.phone_number }}</p>
                        {% endfor %}
                    </div>
                    <div class="order-customer-info__delivery_address">
                        <h2>Doručovací adresa:</h2>
                        {% if order_in_process.delivery_addresses.all %}
                            {% for delivery_address in order_in_process.delivery_addresses.all %}
                                <p>{{ delivery_address.street }}</p>
                                <p>{{ delivery_address.city }}</p>
                                <p>{{ delivery_address.zipcode }}</p>
                            {% endfor %}
                        {% else %}
                            <p>Osobní odběr</p>
                            <p>Klášterec Antalya Kebab</p>
                            <p>Budovatelská 488</p>
                            <p>Klášterec nad Ohří</p>
                        {% endif %}
                    </div>
                    <div class="order-customer-info__customer_comment">
                        {% if order_in_process.customer_comment != None %}
                            <p><span>Poznámka zákazníka:</span><br>{{order_in_process.customer_comment }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="order-item-sumary">
                    <h2>Položky:</h2>               
                    {% for item in order_in_process.cartitem_set.all %}
                    <div class="order-item-sumary__grid">
                        <p class="order-sumary__grid_column_one">{{item.product.id_category}} - {{item.product}} <br><em>
                        {% if item.dressing != None %} 
                            Dresink: {{item.dressing}} <br>
                        {% endif %}
                        {% if item.side_dish != None %}
                            Příloha: {{item.side_dish}} <br>
                        {% endif %}
                        {% if item.drink != None %}
                            Nápoj 0.33l: {{item.drink}} 
                        {% endif %}
                        </em></p>
                        <p class="order-sumary__grid_column-two">{{item.price}} Kč</p>
                    </div>
                    {% endfor %}
                
                    <div class="order-item-total__grid">
                        <p class="order-sumary__grid_column_one">Položek: &nbsp;&nbsp;&nbsp;{{ order_in_process.get_cart_items_total }}</p>
                        <p class="order-sumary__grid_column-two">Celkem: &nbsp;&nbsp;&nbsp;{{ order_in_process.get_cart_price_total }} Kč</p>
                    </div>
                        <div class="order-delivery-price__grid">
                        <p class="order-sumary__grid_column_one">{{ order_in_process.delivery }}</p>
                        <p class="order-sumary__grid_column-two">{{ order_in_process.delivery_price }} Kč</p>
                    </div>
                    <div class="order-sumary-total__grid">
                        <h2 class="order-sumary__grid_column_one">Cena celkem:</h2>
                        <h2 class="order-sumary__grid_column-two">{{ order_in_process.get_cart_price_total_with_delivery }} Kč</h2>
                    </div>
                    <div class="order-manipulation">
                        <button class="storno-btn" data-order="{{order_in_process.id}}">Storno</button>        
                        <button class="order-completed-btn-send-confirmation" data-order="{{order_in_process.id}}">Vyřízeno</button>
                    </div>
                </div>
            </div>
        {% endfor %}        
    </section>
    
    <section  class="today-orders-completed">
        <div id="today-orders-completed" class="href_to_up"></div>
        <h1>Dnes vyřízené objednávky:</h1>
        {% for today_completed_order in today_orders_completed %}
            <div class="today-orders-completed-extract">
                <p>Nová objednávka č.: <span>{{ today_completed_order.order_number }}</span></p>
                <a class="today-completed-order-link open-page" href="{% url 'dnes-vyrizena-objednavka-detail' pk=today_completed_order.id order_number=today_completed_order.order_number %}">Otevřít</a>
            </div>
        {% endfor %} 
        {% include 'service/vyrizena-objednavka-detail.html' with selected_new_order=selected_new_order selected_order_creation_time=selected_order_creation_time %}
    </section>
        
{% endblock %}